* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container {
    max-width: 80%;
    margin: 0 auto;

}

.container-small {
    max-width: 60%;
    margin: 0 auto;
}

.left,
.right {
    width: 50%;
}

img {
    width: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: $text_color_primary;
    font-weight: 900;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $text_color_primary;
}

p {
    font-weight: 600;
}
