.bg-brown {
    background-color: $bg_color_section;
    text-align: center;

    h2 {
        padding: 60px 0;
    }

    .images-first-section {
        @include flex_setting;
        justify-content: space-between;
        padding: 60px 0;

            img {
                width: auto;
                height: 100px;
            };

            p {
                padding: 10px 0;
                font-weight: $fnt_weight_400;
            }
    }

    .image-alone {
        padding-bottom: 100px;

        img{
            width: 300px
        }
    }

    .divider {
        border: 1px solid $text_color_primary;
    }
}

.double-col {
    @include flex_setting;
    padding: 50px 0;

    .with-text {

        h2 {
            padding: 20px 0;
            font-size: 30px;
        }

        p {
            width: 50%;
            font-weight: $fnt_weight_400;
            padding: 20px 0;
            font-size: 25px;
        }

        a {
            color: blue;
            font-size: 20px;
            font-weight: $fnt_weight_400;
        }

        img {
            margin-top: 30px;
            width: 500px;
        }
    }

    .left.with-text {
        text-align: right;

        p {
            position: relative;
            right: -50%;
            top: 0;
        }

        img {
            margin-top: 30px;
            width: 450px;
        }
    }
}

.bg-brown.get-started {
    text-align: center;
    padding-bottom: 60px;

    h2 {
        font-size: 60px;
    }

    .paragraph-info {
        background-color: white;
        border: 1px solid darkblue;
        border-radius: 5px;
        padding: 20px;
        text-align: left;

        p {
            padding: 10px 0;
        }

        .co-founders {
            @include flex_setting;
            padding-top: 20px;

            img {
                width: 60px;
                height: auto;
                margin-right: 20px;
            }

            .co-founders-name {
                color: blue;
                font-weight: $fnt_weight_400;
            }

            p {
                padding: 0;
                font-weight: $fnt_weight_400;
            }
        }
    }

    .btn-container {
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .happy {
    
        img {
            width: 25px;
        }
    }
}